/* 背景样式 */
.bg-dark {
    background-color: #121212; /* 深色背景 */
    color: #ffffff; /* 白色字体 */
    transition: background-color 0.3s ease, color 0.3s ease; /* 过渡效果 */
}

.bg-dark{
    background-color: #1e1e1e; /* 软件卡片背景 */
}
.button-dark {
    background-color: #1e1e1e;
    color: #ffffff;
}

.button-long-dark {
    background-color: #1e1e1e;
    color: #ffffff;
}