/* 设置网页主体的字体、边距和背景颜色 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.recommend-title {
    margin-left: 10px;
    margin-top: 15px;
    text-align: center; /* 标题居中 */
    font-size: 24px;    /* 标题字体大小 */
}

/* 主页大卡片样式 */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container-litte {
    height: 450px;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cards-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-body {
    background-color: #fff;
    width: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.software-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 300px;
    transition: transform 0.2s;
    overflow: hidden; /* 防止内容溢出 */
}

.software-card:hover {
    transform: scale(1.05);
}

.card-image {
    width: 100%;
    height: 150px; /* 设置固定高度 */
    background-color: #ddd; /* 占位符背景色 */
    background-size: cover; /* 图片填满区域 */
    background-position: center; /* 背景居中 */
}

h3, p {
    margin: 10px 0;
    padding: 0 10px;
}

h3 {
    color: #333;
    font-size: 1.5em;
}

p {
    color: #666;
    font-size: 1em;
}

/* 推荐部分样式 */
.recommend-container {
    height: 50px;
    border-radius: 8px;
    background-color: #f4f4f4;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between; /* 将子元素均匀分布 */
    align-items: center; /* 垂直居中对齐 */
}


.button, .big_button {
    width: 60px;
    height: 40px;
    margin-right: 15px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #00a0e9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;        
    align-items: center;   
    justify-content: center;
}
.button-long {
    width: 100px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #00a0e9;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;        
    align-items: center;   
    justify-content: center;
}

.button:hover, .big_button:hover {
    background-color: #0056b3;
}

/* 搜索框样式 */
.search-container {
    width: auto; /* 使输入框宽度充满卡片 */
    height: 40px; /* 固定输入框高度 */
    font-size: 14px; /* 增加字体大小 */
    align-items: center;
    border: 1px solid #ccc; /* 添加边框 */
    border-radius: 8px; /* 圆角边框 */
    margin-left: 10px; /* 左边距 */
    margin-right: 10px; /* 右边距 */
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 5px; 
    flex-grow: 1;
}

/* 轮播图样式 */
.carousel {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: 300px; /* 高度设为固定值 */
    border-radius: 16px; 
    background-color: #f0f0f0; /* 轮播图未加载时的背景色 */
}

.carousel-images {
    display: flex;
    transition: transform 1s ease;
}

.carousel-image {
    min-width: 100%;
    height: 100%; /* 适应容器高度 */
    object-fit: fill; /* 可保持原有此属性，并添加以下样式 */
    stretch: 1; /* 这个压缩/拉伸效果需要相应的支持，可以通过 JS 或使用 CSS 的 transform 属性来实现 */
}


/* 轮播图按钮样式 */
.carousel-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-button {
    background-color: #00a0e9;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 16px; 
}

/* 搜索框样式 */
