/* 网站固定元素样式 */
/* 公共圆角和强调色样式 */
.yj, .container1, .container2, .software-card, .modal-content, .qr, .qr-content, .close {
    border-radius: 16px; 
}
.qd, .link-style, .close, .blue-bar {
    color: #00a0e9;
}
@media (max-width: 998px) {
    .modal-background,
    .modal-content  {
        padding: 10px; /* 减小内边距 */
        width: 80%; /* 设置弹窗内容宽度为80% */
        max-width: 350px;
        height: auto; /* 高度根据内容自适应 */
        margin: 10%  10%; /* 上下留出一定的间隔 */
    }

}


/* 分隔符的样式 */
.blue-bar {
    width: 100%;
    height: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* 提示信息的样式 */
.message {
    position: fixed;
    top: 10px; /* 设置垂直位置为10px */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 平移，使其准确居中 */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    z-index: 1000;
}



/* 弹窗样式 */
.modal-header {
    text-align: center;
    background-color: #00a0e9;
    border-radius: 8px;
    display: flex;
    align-items: center; /* 垂直居中 */
    height: 40px; /* 根据需要设定高度 */
}
.modal-content {
    max-height: 80vh; /* 最大高度为视口高度的80% */
    padding: 20px; /* 内边距 */
    background-color: #ccc; /* 背景颜色 */
    border-radius: 16px; /* 圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 阴影 */
    width: 90%; /* 弹窗宽度 */
    margin: 0 auto; /* 水平居中 */
    max-width: 600px;

    box-sizing: border-box; /* 包含内边距和边框在内的宽度 */
}
.modal-main {
    margin: 10px auto;
    overflow-y: auto; /* 内容超出最大高度时，显示垂直滚动条 */
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-background {
    position: fixed; /* 固定定位 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 确保弹窗在最上层 */
}

.modal {
    display: none; /* 默认隐藏 */
    position: relative;
    z-index: 1001; /* 确保弹窗内容在最上层 */
    background-color: rgba(0, 0, 0, 0.7);
}

/* 显示弹窗时的样式 */
.modal.show {
    display: block;
}


/* 二维码弹窗的样式 */
.qr {
    width: 300px;
    height: 100%;

}

.qr-content {
    margin: 5px 0;
    position: absolute; /* 改为absolute以更好地控制子元素的位置 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 平移以准确居中 */
    padding: 5px;
    border: 1px solid #888;
    max-width: 300px;
    max-height: 300px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
}

#qrCodeImage {
    width: 100%; /* 图片宽度自适应其容器 */
    height: auto; /* 图片高度根据宽度自适应 */
    max-width: 280px; /* 设置图片的最大宽度 */
    max-height: 280px; /* 设置图片的最大高度 */
}





/* 弹窗标题的样式 */
.close {
    margin: 5px;
    position: absolute; 
    width: 30px; 
    height: 30px; 
    right: 5px;
    top: 5px;
    z-index: 10;
    background: white; /* 背景透明 */
    border: none; /* 无边框 */
    cursor: pointer; /* 鼠标悬停时显示手型 */
    padding: 0; /* 去掉内边距 */
    transition: background-color 0.3s; /* 添加过渡效果 */
}

.close:hover,
.close:focus {
    background-color: #e0e0e0; /* 悬停时改变背景色 */
}

/* img 图标样式 */
.close-icon {
    width: 100%; /* 让图标填满按钮区域 */
    height: auto; /* 维持比例 */
}


/* 字体样式 */
.title {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin: 0;
}

/* 链接样式 */
.link-style {
    cursor: pointer; 
}

/* 图片样式 */
.img-style {
    max-width: 80%;
    height: auto; /* 确保图片保持比例 */
}

/* 图标样式 */
.icon {
    width: 20px; 
    height: 20px; 
    cursor: pointer;
}
.checkbox-container {
    display: flex;
    align-items: center; /* 垂直居中对齐 */
    margin: 10px 0; /* 增加上下间距 */
    justify-content: flex-start; /* 水平左对齐 */
}

.checkbox {
    appearance: none; /* 去掉默认样式 */
    width: 20px; /* 设置宽度 */
    height: 20px; /* 设置高度 */
    border: 2px solid #007bff; /* 边框色 */
    border-radius: 4px; /* 圆角 */
    margin-right: 10px; /* 右侧间距 */
    cursor: pointer; /* 鼠标悬浮为手形 */
    outline: none; /* 去掉焦点样式 */
    transition: background-color 0.3s; /* 背景色过渡 */
}

.checkbox:checked {
    background-color: #007bff; /* 选中状态背景色 */
    border: 2px solid #0056b3; /* 选中状态边框色 */
}

.checkbox:checked::after {
    content: '✓'; /* 选中状态的标记 */
    color: white; /* 标记颜色 */
    font-size: 16px; /* 标记字体大小 */
    position: relative;
    left: 3px;
    top: -2px;
}

.checkbox-label {
    font-size: 16px; /* 标签字体大小 */
    color: #333; /* 标签字体颜色 */
    cursor: pointer; /* 鼠标悬浮为手形 */
}
.hidden {
    display: none;
}
/* 灵动信息样式 */
/* 定义一个简单的动画效果 */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 定义一个背景颜色渐变动画效果 */
@keyframes backgroundFade {
    from { background-color: #00a0e9; }
    to { background-color: #ffffff; } /* 可以根据需要调整颜色 */
}

/* 状态弹窗样式 */
.status-modal {
    position: fixed; /* 使弹窗固定在页面顶部 */
    top: 10px; /* 距离顶部10px */
    left: 50%;
    transform: translateX(-50%); /* 使弹窗水平居中 */
    width: 50%; /* 调整宽度为屏幕宽度的50% */
    max-height: 60px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    z-index: 1000; /* 确保弹窗在最上层 */
    display: none; /* 默认隐藏 */
    animation: fadeIn 0.5s ease-in-out, backgroundFade 3s infinite alternate; /* 添加动画效果 */
}

.status-modal-content {
    padding: 10px; /* 增加内边距 */
    text-align: center;
    color: #333; /* 调整字体颜色 */
}

